<!-- here we create mix javascript and html code in the form of template -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page of ejs</title>
</head>
<body>
    <h1> Here's taimour lakhan</h1>
    <p> if you want to make any website then without hesitation congtact me here below</p>
    <button> contact me</button>
    <h2> <%= 100*100  %></h2>

</body>
</html>